.Main {
  display: flex;
  background-color: #ff6334;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.MainPanel {
  background-color: #be1f1d;
  opacity: 0.5;
  width: 80vw;
  height: 90vh;
  margin: 5vh;
  border-radius: 5%;
}

.logo {
  align-self: center;
  background-color: #ff6334;
  transition: all 0.1s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}

.navBar {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: #ff6334;
}

/* Nav Tab */

.navTab {
  background-color: #ffb400;
  padding: 5px;
  height: 100vh;
  margin-top: 10px;
  border-top-right-radius: 20px;
}

.navTabIcon {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 4vh;
  justify-content: space-between;
  transition: all 0.1s ease-in-out;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.navTabIcon:hover {
  transform: scale(1.1);
}
