.Main {
  display: flex;
  background-color: #ff6334;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.MainPanel {
  background-color: purple;
  width: 80vw;
  height: 90vh;
  margin: 5vh;
  border-radius: 5%;
}

.navBar {
  display: flex;
  flex-direction: column;
  width: 100vh;
  height: 100vh;
  background-color: aqua;
}
