.Main {
  display: flex;
  background-color: #ff6334;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.MainPanel {
  background-color: #e0442c;
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 90vh;
  margin: 5vh;
  border-radius: 5%;
}

.logo {
  align-self: center;
  background-color: #ff6334;
  transition: all 0.1s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}

.navBar {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: #ff6334;
}

/* Nav Tab */

.navTab {
  display: flex;
  flex-direction: column;
  background-color: #ffb400;
  justify-content: space-around;
  padding: 5px;
  height: 100vh;
  margin-top: 10px;
  border-top-right-radius: 20px;
}

.navTabIcon {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 5px;
  justify-content: space-around;
  transition: all 0.1s ease-in-out;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 700;
}

.navTabIcon:hover {
  transform: scale(1.1);
}

/* Created Task Component */

.taskCreate {
  background-color: #ff6334;
  display: flex;
  margin: 20px;

  border-radius: 20px;
  padding: 15px;
}

.taskTitle {
  font-weight: 700;
}

.taskDescription {
  opacity: 50%;
}

.taskDiv {
  margin-bottom: 5px;
}

.taskDetails {
  background-color: aliceblue;
  height: 100%;
  width: 60%;
}

.taskActions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40%;
}

.clickableTaskAction {
  margin-left: 0.2em;
  transition: all 0.1s ease-in-out;
}

.clickableTaskAction:hover {
  transform: scale(1.1);
}

.timer {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 700;
}
